#train-table th,
td {
  display: inline-block;
  width: 18.25%;
  background-color: seashell;
}

.card-body{
    background-color: rgb(240, 205, 159);
}

h3{
    font-style: italic;
}

h1{
    font-size: 50px;
}

#schedule-title{
    text-align: center;
}

body {
    background-image: url("maxresdefault.jpg");
    background-color: silver;
}

.table{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

